<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chipset.quizzy"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Turquoise" >
        <activity
            android:name="chipset.quizzy.HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="chipset.quizzy.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chipset.quizzy.HomeActivity" />
        </activity>
        <activity
            android:name="chipset.quizzy.RegisterActivity"
            android:label="@string/register"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chipset.quizzy.HomeActivity" />
        </activity>
        <activity
            android:name="chipset.quizzy.DashActivity"
            android:label="@string/lp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="chipset.quizzy.ForgotPasswordActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="chipset.quizzy.menu.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>