<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chipset.quizzy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="chipset.quizzy.resources.ParseInitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Turquoise" >
        <activity
            android:name="chipset.quizzy.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="chipset.quizzy.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.game.LetsPlayActivity"
            android:label="@string/title_activity_lets_play"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.game.QuestionActivity"
            android:label="@string/title_activity_question"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.resources.ShowImageActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="chipset.quizzy.game.LevelTransitionActivity"
            android:label="@string/title_activity_level_transition"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="chipset.quizzy.game.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
    </application>

</manifest>